<mat-sidenav-container [hasBackdrop]="false" class="sidenav-container">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-selection-list [multiple]="false">
            <mat-list-option style="height: max-content;" *ngFor="let employee of employeeData; let i = index;" (click)="personalInfo(i)">
                <mat-list-item style="margin:2% 0% 2% 0%;">
                    <div mat-line style="font-size: 25px; margin-bottom: 2%;"><b>{{employee.fullName}}</b></div>
                    <div mat-line style="font-size: 15px; color:grey;">{{employee.position}}</div>
                    <button mat-icon-button >
                        <mat-icon>delete_forever</mat-icon>
                    </button>    
                </mat-list-item>    
            </mat-list-option>
        </mat-selection-list>          
    </mat-sidenav>
    <mat-sidenav-content style="background-color: rgba(249,245,244,255)">
        <mat-card class="mainCard">
            <h1 style="font-size:25px;margin:5% 5% 5% 5%;"><u>Personal Information</u></h1>
            <form style="margin:5% 5% 5% 5%; font-size: 15px;">
                <p>
                    <label for="fname"><b>Full Name</b></label>
                    <input id="fname" type="text" max="20" value={{fullName}}>
                </p>
                <p>
                    <label for="address"><b>Address</b></label>
                    <input id="address" type="text" value={{address}}>
                </p>
                <p>
                    <label for="phoneNumber"><b>Phone Number</b></label>
                    <input id="phoneNumber" type="text" value={{phoneNumber}}>
                </p>
                <p>
                    <label for="position"><b>Position</b></label>
                    <select id="position">
                        <option value="0">Select Position:</option>
                        <option value="1">Manager</option>
                        <option value="2">Production Manager</option>
                        <option value="3">Editor</option>
                        <option value="4">HR Director</option>
                    </select>
                </p>
            </form>
            <button mat-stroked-button style="position:absolute;bottom:15%;right:5%;float:right;width: 10%;font-size:20px;">Save</button>
        </mat-card>
    </mat-sidenav-content>
  </mat-sidenav-container>
  